<div id="wtf" class="glide pt-20 2xl:pt-40">
  <div class="glide__track" data-glide-el="track">
    <ul class="glide__slides">
        {{ range .Params.carousel }}
          <li class="glide__slide overflow-hidden">
            <img class="rounded-lg" src="{{ .img }}"/>
          </li>
        {{ end }}
    </ul>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/@glidejs/glide/dist/glide.min.js"></script>
<script type="text/javascript">
  new Glide('.glide', {
    type: 'carousel',
    autoplay: 5000,
    hoverpause: false,
    gap: 12,
    perView: 4,
    peek: 100,
    focusAt: 'center',
    breakpoints: {
      768: {
        perView: 1,
      },
      1024: {
        perView: 2
      },
      1280: {
        perView: 3
      },
    }
  }).mount()
</script>
